html, body {margin: 0; height: 100%; overflow: hidden}


#canvasDiv{
    overflow: scroll;
    flex-direction: column;

}
#canvas{
/*width: 297mm;
    height: 210mm;
*/

}
.scrollable{
/*overflow : hidden; */

}

#topRow{
    background-color : darkmagenta;
    height: 50px;
}

.kleinesFeld{
    width: 50px;
}

button{
    display: inline-block;
    text-align: center;
    padding: 8px;
    margin-top:5px;
    border:10px;
    border-radius: 3px;
    background-color: white;
}

button:hover
{
    background-color: deepskyblue;
}

