#canvasDiv{

}
/*#canvas{
    border-color: aqua;
    border-width: 3px;
    margin: 10px;
    padding: 10px;

}
*/
#topRow{
    background-color : darkmagenta;
    height: 50px;
}

#textAendern{
    width: 50px;
}

